*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(160deg, #dcc3ca, #5d0505); 
    padding: 10px;
}

.toDoHeading{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}

.toDoHeading h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d5dcf3;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #443e3e;
    font-size: 18px;
}

/* --add button-- */
#newTask{
    border: none;
    outline: none;
    color: white;
    padding: 16px 50px;
    background: orangered;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: text;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position:absolute;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-image: url(assets/uncheck-32.png);
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 12px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(assets/checked.png)
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

/* ---edit button */
#editButton{
    position: absolute;
    right: 20;
    top: 9px;
    border: none;
    outline: none;
    color: rgb(26, 24, 24);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    margin-left: 60%;
    margin-top: -2.1%;
    margin-bottom: 0%;
    height:50px;
    width: 50px;
    align-items: center;
}

#editButton:hover{
    color: #443e3e;
    background: #edeef0;
}